@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body{
  font-family: 'Roboto Condensed' ,sans-serif;
}
:root{
  --primary-white: #fff;
  --primary-blue: rgba(2, 183, 255);
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: rgb(211, 0, 0);
  --primary-hover-red: rgb(255, 0, 0);
}
/****************** NAVBAR ********************/
nav{
  z-index: 2;
}
.logo{
  width: 16.25rem;
}
/***MENU LINKS***/
nav a.nav-link{
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: .9rem;
  margin-left: .9rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}
.navbar-brand{
  max-width: 17.25rem !important;
  padding: 0 !important;
  height: 3rem !important;
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-blue)
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-blue)
}
.ml{
  margin-left: auto;
}

/****************** Header */
.header-wraper{
  position: relative;
  background: url(back.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info{
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed' ,sans-serif;
  z-index: 1;
}
.main-info h1{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  
}
/**********TYPED TEXT*****************/
.typed-text{
  font: 3rem;
  color: var(--primary-white);
}
.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}
.btn-main-offer:hover{
text-decoration: none;
background-color: var(--primary-hover-red);
}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}